# Historical Ratings

In [ ]:
import pandas as pd
import certifi
import json
try:
    from urllib.request import urlopen
except ImportError:
    from urllib2 import urlopen

def get_jsonparsed_data(url):
    response = urlopen(url, cafile=certifi.where())
    data = response.read().decode("utf-8")
    return json.loads(data)

# List of stock tickers
stock_list = ["AAPL", "CVX", "GS", "JNJ", "JPM", "MSFT", "PFE", "PG", "UL", "XOM"]

# API key (replace with your own)
api_key = "SYR3IkXiVZIjJ9WAz69bGcgh4uDMA9m4"

# Loop through each stock and create separate DataFrames for each stock
for stock in stock_list:
    # Create the URL for each stock
    url = f"https://financialmodelingprep.com/api/v3/historical-rating/{stock}?limit=100000&apikey={api_key}"
    
    # Get data for each stock
    data = get_jsonparsed_data(url)
    
    # Convert the data to a pandas DataFrame and dynamically assign it to a variable
    globals()[f"{stock}_df"] = pd.DataFrame(data)




for stock in stock_list:
    # Make sure you're referencing the correct DataFrame variable
    df = globals()[f"{stock}_df"]
    
    # Export the DataFrame to a CSV file
    df.to_csv(f'{stock}_historicalratings.csv', index=False)
    print(f"Exported {stock}_historicalratings.csv")

# Initialize an empty list to store each DataFrame
all_dataframes = []

for stock in stock_list:
    df = globals()[f"{stock}_df"]  # Reference the dynamically created DataFrame
    df['Ticker'] = stock  # Add a column to identify the stock symbol in the concatenated DataFrame
    all_dataframes.append(df)  # Append each DataFrame to the list

# Concatenate all the DataFrames
concatenated_df = pd.concat(all_dataframes, ignore_index=True)

# Optionally, export the concatenated DataFrame to a CSV file
concatenated_df.to_csv('all_stocks_historicalratings.csv', index=False)

# Display the concatenated DataFrame


concatenated_df

In [40]:
final_df = concatenated_df[['date','symbol','ratingScore','ratingDetailsDCFScore','ratingDetailsROEScore',
                            'ratingDetailsROAScore','ratingDetailsPEScore','ratingDetailsPBScore']]

In [43]:
final_df.groupby('symbol').sum()

,ratingScore,ratingDetailsDCFScore,ratingDetailsROEScore,ratingDetailsROAScore,ratingDetailsPEScore,ratingDetailsPBScore
symbol,,,,,,
AAPL,24957,25258,20805,17829,27368,24884
CVX,22443,22002,16836,16994,23863,26312
GS,15790,17877,11122,10842,13236,12709
JNJ,17723,16408,13106,12857,20437,20714
JPM,25177,22698,16503,16693,25761,24863
MSFT,23421,18866,18820,17078,26761,27645
PFE,23366,20683,17938,17361,24901,26618
PG,18855,15444,13784,13738,21927,22305
UL,2962,3192,2091,2091,2875,2855
XOM,21226,18835,15455,16145,24278,24534

In [52]:
final_df.loc[final_df['symbol']=='GS']

,date,symbol,ratingScore,ratingDetailsDCFScore,ratingDetailsROEScore,ratingDetailsROAScore,ratingDetailsPEScore,ratingDetailsPBScore
11370,2024-09-20,GS,2,4,3,2,2,2
11371,2024-09-19,GS,2,4,3,2,2,2
11372,2024-09-18,GS,2,4,3,2,2,2
11373,2024-09-17,GS,2,4,3,2,2,2
11374,2024-09-16,GS,2,4,3,2,2,2
...,...,...,...,...,...,...,...,...
15035,2009-07-02,GS,3,5,3,3,1,1
15036,2009-07-01,GS,3,5,3,3,1,1
15037,2009-06-30,GS,3,5,3,3,1,1
15038,2009-06-29,GS,3,5,3,3,1,1
15039,2009-06-26,GS,3,5,3,3,1,1

In [53]:
final_df.to_csv('FMP_historical_ratings.csv', index=False)